@font-face {
font-family: 'Roboto', sans-serif;
src: url("fonts/Roboto-Regular.ttf") format("ttf");
font-weight: normal;
font-style: normal;
font-display: swap;
}
@font-face {
font-family: 'Roboto', sans-serif;
src: url("fonts/Roboto-Bold.ttf") format("ttf");
font-weight: 700;
font-style: normal;
font-display: swap;
}
@font-face {
font-family: 'Roboto', sans-serif;
src: url("fonts/Roboto-Medium.ttf") format("ttf");
font-weight: 500;
font-style: normal;
font-display: swap;
}

body{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  background-color: black;
}
