@font-face {
font-family: 'Roboto';
src: url("../fonts/Roboto-Regular.ttf") format("ttf");
font-weight: 400;
font-style: normal;
font-display: swap;
}
@font-face {
font-family: 'Roboto';
src: url("../fonts/Roboto-Bold.ttf") format("ttf");
font-weight: 700;
font-style: normal;
font-display: swap;
}
@font-face {
font-family: 'Roboto';
src: url("../fonts/Roboto-Medium.ttf") format("ttf");
font-weight: 500;
font-style: normal;
font-display: swap;
}

body{
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  background: #2F343A;


}
.container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
label{
    display: inline-block;
}
.title{
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

}
.line{
  display: block;
  position: absolute;
  width: 90px;
  height: 6px;
  background-color: #C8A35F;
}
.header{
  background: #C8A35F;
}
.header__contacts{
  background: #C8A35F;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
  padding:16px;
}
.lang{
  display: flex;
  gap:10px;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-span{
  height:46px;
  border: 1px solid #F2F2F2;
  transform: rotate(0deg);
  margin: 27px 36px;
}

.map-img{
  float: left;
  padding-right: 17px;
}



.nav-menu{
  display: flex;
  justify-content:space-between;
  align-items: center;
  gap: 40px;
  text-transform: uppercase;
}

.nav-item li{
    cursor: pointer;
}

.nav-item a:hover{
    /*background: #C8A35F;*/
    text-decoration: underline;
}
.nav-link{
    transition: 0.7s ease;
}

.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}


.trucking{
  background-image: url("../images/bg-trucking.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 155px;
  padding-bottom: 260px;
}
.trucking__titles{
  max-width: 920px;
  border: 1px solid #C8A35F;
  margin: 0 auto;
}
.trucking__title{
  padding-top: 45px;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.trucking__subtitle{
  padding:25px 10px 40px 10px ;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  max-width: 777px;
  margin: 0 auto;
}

.europe__inner{
    display: flex;
    height: 521px;
}
.europe__titles{
    position: relative;
    flex: 1 1 445px;
    z-index: 2;
}
.europe__line{
    top:80px;
}
.europe__titles-title{
    padding-top: 130px;
}
.europe__titles-text{
    padding-top: 15px;
    font-size: 18px;
    line-height: 28px;
}
.europe__titles-btn{
    margin-top: 40px;
    width: 220px;
    height: 55px;
    background: #C8A35F;
    margin-bottom: 130px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.europe__titles-btn:hover{
    transform: scale(1.1);
}
.europe__tracker{
    padding-top: 120px;
    flex: 1 1 700px;
    background: #2F343A;
    position: relative;
}
#i1, #i2, #i3{
    display: none;
}

.slide_img{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.slide_img img{
    grid-column: span 2;
    grid-row: span 2;
    width: 100%;
    height: 100%;
}
.pre, .nxt{
    z-index: 99;
    cursor: pointer;
}

.slide_img{
    z-index: -1;
    visibility: visible;
}
#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three{
    z-index: 9;
}

.europe__arrows {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 70px;
}
/* рисование стрелки */

.arrow-right p, .arrow-left p {
   position: relative;
  /*  position: absolute;*/
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-align: left;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #C8A35F;
}
.arrow-left p {
    position: absolute;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-align: left;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #C8A35F;
    top: 265px;
    right: 0;
}
.arrow {
    display: block;
    position: absolute;
    top: 10px;
    left: 95px;
    width: 65px;
    height: 3px;
    background-color: #C8A35F;
}
.arrow:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 3px;
    background-color: #C8A35F;
    transform: rotate(-45deg);
    transform-origin: 100% 0;
}
.arrow:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 3px;
    background-color: #C8A35F;
    transform: rotate(45deg);
    transform-origin: 100% 0;
}

p:hover .arrow,
p:hover .arrow:before,
p:hover .arrow:after {
    background-color: #000;
}

.arrow-left .arrow {
    display: block;
    position: absolute;
    top: 10px;
    left: -95px;
    width: 65px;
    height: 3px;
    background-color: #C8A35F;
}
.arrow-left .arrow:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 50px;
    width: 15px;
    height: 3px;
    background-color: #C8A35F;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
.arrow-left .arrow:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 50px;
    width: 15px;
    height: 3px;
    background-color: #C8A35F;
    transform: rotate(45deg);
    transform-origin: 0 100%;
}

.services{
  position: relative;

}
.services__line{
  margin-top: 120px;
}
.services__title{
  padding-top: 166px;

}

.transport__block{
    padding-top: 55px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
}
.transport__block-item{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 276px;
    height: 180px;
    border: 1px solid #393F47;
    cursor: pointer;
}

.transport__block-item-active{
    background: #C8A35F;
}
svg{
   fill:white;
   padding: 10px;
}

.transport__block-item-active .transport__block-img {
    fill: #2F343A;
    background-image: url("../images/bg-airplane.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.transport__block-text{
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}



.company{
  position: relative;
  margin-top: 120px;
}
.company__line{
  top: 80px;
}
.company__inner{
  display: flex;
}
.company__title{
  padding-top: 126px;
}
.company__text{
  padding-top: 20px;
  font-size: 16px;
  line-height: 23px;
  width: 445px;
  height: 179px;
  margin-right: 65px;
}
.company__block{
  padding-top: 80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);

}
.company__block-item{
  width: 200px;
  height: 160px;
  background: #FFFFFF;
  border: 0.25px solid #C8A35F;
  text-align: center;
  color: #000000;
}
.company__block-item-num{
  padding-top: 23px;
  font-weight: 700;
  font-size: 64px;
  line-height: 75px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #2F343A;
}
.company__block-item-title{
    font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em;

}
.company__block-item-text{
  padding-top: 10px;
  font-size: 12px;
  line-height: 14px;
}
.maps {
    margin-top: 200px;
    min-width: 1140px;
    height: 450px;
    opacity: 0.6;
    /*
  background: linear-gradient(to top, rgba(57, 63, 71, 0.6), rgba(57, 63, 71, 0.6)), url("../images/maps.jpg");
*/
}
iframe {
    position: absolute;
    width: 100%;
    height: 450px;
}

.footer{
  background: #C8A35F;
}
.footer__inner{
  padding-top: 60px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: 1.75fr 1.4fr 0.6fr;
  grid-template-rows: 1fr;
  align-items: center;
  }
.footer__logo{
  display: flex;
  gap:30px;
}
.footer__address-location{
  font-weight: 400;
  color: #F2F2F2;
  opacity: 0.8;
  padding-bottom: 10px;
}
.footer__address-email{
  color: #2F343A;
}
.footer__tel{
  padding-left: 50px;
}
.footer_tel-item{
  display:block;
  color: #F2F2F2;
  padding-bottom: 10px;
}

#footer__creator-link{
  text-decoration-line:underline;
  color: #2F343A;
}


/*Media*/
@media (max-width: 1120px) {

    .europe__arrows {
        padding-left: 0;
    }
    .arrow-left p {
        top: 235px;
        right: 60px;
    }

    .transport__block {
        padding-top: 55px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);

    }
    .transport__block-item{
      width: 100%;
    }

}
@media (max-width: 1000px) {
  .arrow-left p {
        top: 235px;
        right: 30px;
    }
}
@media (max-width: 900px) {
    .arrow-left p {
        top: 200px;
        right: 0;
    }
}

@media (max-width: 850px){
    .hamburger{
        padding-left: 20px;
        display: block;
    }
    /*delaet X*/
    .hamburger_active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger_active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger_active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 105px;
        flex-direction: column;
        gap: 0;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu_active{
        left: 0;
    }

    .europe__inner{
        height: initial;
        display: flex;
        flex-direction: column;
    }
    .europe__titles{
        align-self: center;
        flex: auto;
    }

    .europe__tracker{
        padding-top: 0;
        flex: 1 1 100px;
        background: #2F343A;
        position: relative;

    }
    .arrow-left p {
        top: 265px;
        right: 60px;
    }
    .europe__line{
        left:50%;
        transform:translateX(-50%);
    }
    .services__line{
        left:50%;
        transform:translateX(-50%);
    }
    .services__title{
        text-align: center;
    }
}

@media (max-width: 653px){
    .europe__titles{
        text-align: center;
    }
    .europe__titles-title{
        font-size: 32px;
    }

    .transport__block {
        padding-top: 55px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,1fr);
    }
}

@media (max-width: 600px){
    .arrow-left p {
        top: 200px;
        right: 40px;
    }
}

@media (max-width: 500px){

    .arrow{
        width: 45px;
        left: 55px;
    }
    .arrow-left .arrow{
        width: 45px;
        left: -55px;
    }
    .arrow-left .arrow:after, .arrow-left .arrow:before {
        right: 30px;
    }

    .arrow-left p {
        top: 200px;
        right: 60px;
    }
    .pre, .nxt{
        font-size: 12px;
    }
}


@media (max-width: 450px){
    .trucking__titles{
        margin-top: 0;
        margin-bottom: 0;
    }
    .trucking__title{
        font-size:26px;
        line-height: 32px;
    }
    .arrow-left p {
        top: 150px;
        right: 30px;
    }

    .transport__block {
        padding-top: 15px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(8,1fr);
        align-content: center;
        justify-content: center;
        gap: 15px;
    }
    .transport__block-item{
        border: 1px solid #C8A35F;
    }

}

@media (max-width: 375px){
  .header__contacts{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        font-size: 18px;
    }
    .logo{
        padding-left: 50px;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .logo-span{
        display: none;
    }
    .map{
        text-align: left;
        padding-bottom: 15px;
    }
    .map-link{
        font-size: 20px;
    }

    .arrow {
        display: block;
        position: absolute;
        top: 10px;
        left: 95px;
        width: 35px;
        height: 3px;
    }
    .arrow-left .arrow {
        display: block;
        position: absolute;
        top: 10px;
        left: -95px;
        width: 35px;
        height: 3px;
    }
    .arrow-left p {
        top: 130px;
        right: -15px;
    }
    .arrow-left .arrow:after, .arrow-left .arrow:before {
        right: 20px;
    }
    .pre, .nxt{
        font-size: 12px;
    }

}
@media (max-width: 281px){
    .arrow-left p {
        top: 150px;
        right: -40px;
    }
    .europe__titles-title {
        font-size: 24px;
        line-height: 28px;
    }
}